// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800;900&display=swap');
* {
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 96px;
  font-weight: 500;
  padding: 30px;
}

h2 {
  font-size: 64px;
  font-weight: 500;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 40px;
  margin: 10px 0px;
}

h5 {
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  margin: 5px 0px;

  @media screen and (max-width: $breakpoint-xs-max) {
    font-size: 24px;
    line-height: 32px;
  }
}

h6 {
  font-size: 20px;
  font-weight: 300;
  margin: 5px 0px;
}

.full-screen {
  min-height: 80vh;

  @media screen and (max-width: $breakpoint-xs-max) {
    min-height: 90vh;
  }
}
